<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcycom.ctginms.repository.ImportSampleInfoMapper" >
    <insert id="addSampleInfo" parameterType="com.hcycom.ctginms.domain.ImportSampleInfo">
        INSERT INTO import_sample_info
        VALUES(0,#{importSampleInfo.sample_info_code},#{importSampleInfo.entrepot_name},#{importSampleInfo.point_name},#{importSampleInfo.import_name},#{importSampleInfo.operator_name},
                #{importSampleInfo.import_time},#{importSampleInfo.state},#{importSampleInfo.event_code})
    </insert>

    <select id="getSampleInfo" resultType="com.hcycom.ctginms.domain.ImportSampleInfo">
        SELECT entrepot_name,point_name,import_name,operator_name,import_time,state,sample_info_code
        FROM import_sample_info
        WHERE event_code=#{eventCode}
        ORDER BY import_time DESC
    </select>

    <update id="updateSampleInfo" parameterType="String">
        UPDATE import_sample_info
        SET state='1'
        WHERE sample_info_code=#{sampleInfoCode}
    </update>

    <delete id="delSampleModelByCode" parameterType="String">
        DELETE FROM import_sample_model WHERE sample_info_code=#{sampleInfoCode}
    </delete>

    <select id="findSampleByxnCode" parameterType="String" resultType="Map">
        SELECT
            s.person_code,p.researchname AS person_name,s.code AS sample_code,s.type,s.capacity,s.cryopreserved_code,s.cryopreserved_line,s.cryopreserved_column,s.subpackage_time,s.offset_number,s.refrigerator_code,s.refrigerator_layer,s.sample_shelf,s.samplebox_code,s.box_place,s.head
        FROM
            sample s LEFT JOIN person p ON s.person_code=p.researchcode
        WHERE
            s.sample_info_code=#{sampleInfoCode}
    </select>
</mapper>
